@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto&display=swap');
@import "common.scss";

* {
    font-family: 'Montserrat', sans-serif;
}
.blog-breadcrumbs {
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid #888888;
    margin: 20px -15px;
        & + h1 {
           text-align: left;
           font-weight: 400;
        }    
}
.fa-house {
    font-size: 16px;
    padding-right: 15px;
    color: #888888;
}
.fa-angle-right, .fa-right-long, .fa-clock {
    font-size: 14px;
    color: #ccc;
    padding-right: 15px;
}
.text-breadcrumbs {
    font-size: 14px;
}
.article-title {
    color: #e19696;
    font-size: 20px;
    padding-bottom: 15px;
}
.article-common {
    margin-top: 30px;
    
}
.article-img {
    display: block;
    padding-top: 35px;
    padding-bottom: 20px;
    max-width: 848px;
    width: 100%;
}
.more-article {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
.more-text {
    padding-right: 10px;
    color: #e19696;
    
}
.time-picker {
    border-bottom: #ccc 1px solid;
    padding-bottom: 15px;
}
.pagination-block {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.paginations-numbers {
    display: flex;
    align-items: center;
        i {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
        }
    
}
.vert-line {
    position:relative;
    top: -2px;
}
.page-number {
    padding: 10px 15px;
}
.hover-page {
    background-color: #888888;
    color: white;

}